.aframe-container {
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 0;
    overflow: hidden;
}

.image-container {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.aframebox {
    height: 450px;
    width: 450px;
    margin: auto;
    display: inline-block;
   
}

.dlorebox {
    height: 450px;
    width: 450px;
    margin: auto;
    display: inline-block;
}

@media (max-width:800px) {
    .aframebox {
      width: max-content;
    }
  }